{% extends "base.html" %}
{% block content %}
<h1>About us</h1>
<div class="row featurette">
    <div class="col-md-7">
        <p>
            Caitlyn Kiramman, also known as the Sheriff of Piltover, is a heroic playable champion in the MOBA game
            League
            of
            Legends, and the deuteragonist in the 2021 Netflix animated spin-off prequel series Arcane.

            Renowned as the finest peacekeeper in all of Piltover, Caitlyn is a sniper of deadly accuracy and a
            detective of
            an
            intellect unmatched by any who seek to break the law in City of Progress.

            The 67th champion added to the game, Caitlyn was released on January 4th, 2011, and is most commonly played
            in
            the
            bot lane.

            She is voiced by Kirsten Potter in the mainstream series, and Yuko Kaida in the Japanese version. In Arcane,
            she
            is
            voiced by Katie Leung, who also voices Cho Chang from the Harry Potter films.
        </p>
    </div>
</div>
<div class="col-md-5">
    <img src="https://static.wikia.nocookie.net/p__/images/3/33/Caitlyn_Arcane_Poster.jpg" alt="image of Caitlyn">
</div>
<div class="row featurette">
    <div class="col-md-5">
        <img src="https://static.wikia.nocookie.net/leagueoflegends/images/5/5a/Vi_Casual_Render.png" alt="">
    </div>
    <div class="col-md-7">
        <h3>Vi</h3>
        <p>Biography</p>
    </div>
</div>
{% endblock %}
