{% extends "base.html" %}
{% block content %}

<h2> {{ page_title }} </h2>

{% for member in characters %}

<div class="row featurette">
    {% if loop.index % 2 != 0 %}
    <div class="col-md-7">
        <h3> {{loop.index }}. {{ characters.name }}</h3>
        <p>{{ member.description }}</p>
        <em><strong>{{ member.quote }}</strong></em>
    </div>
    <div class="col-md-5">
        <img src=" {{ member.image_source }} " alt="">
    </div>
    {% else %}
    <div class="col-md-5">
        <img src=" {{ member.image_source }} " alt="">
    </div>
    <div class="col-md-7">
        <h3> {{ loop.index }}. {{ characters.name }}</h3>
        <p>{{ member.description }}</p>
        <em><strong>{{ member.quote }}</strong></em>
    </div>
    {% endif %}
</div>

{% endfor %}

{% endblock %}

