{% extends "base.html" %}
{% block content %}

<h2> {{ page_title }} </h2>
<br>
<div class="col-mod-7">
    <h4>THE THRILL OF THE CHASE</h4>
    <h5>5 minute read</h5>
    <hr>
    <p>Even three bells after the Sun Gate had closed, Piltover was still full of life - life that was currently
        getting in her way. Caitlyn sprinted down Mainspring Crescent, weaving a path between midnight revelers
        strolling down the fashionable promenade of cafes and bistros. The supper clubs were emptying, as were the
        nearby theaters inside the Drawsmith Arcade, so this street was going to get a whole lot busier. If they didn't
        catch up to Devaki soon, they were going to lose him.

        "Do you see him?" shouted Mohan from behind.

        "If I could see him, I'd already be drawing a bead on him!"
    </p>

    <p> The hextech rifle slung over Caitlyn's shoulder was loaded and ready to shoot, but she needed a target, and
        Devaki was more nimble than a spooked doe. He'd robbed three clan workshops (that they knew of) in the last five
        weeks, and Caitlyn had him pegged for two others. Working a hunch that something big was in the works, she and
        Mohan had been keeping watch on one of House Morichi's workshops, and sure enough, Devaki had shown. Though they
        hadn't known it until the city lighters had worked their way down the street to ignite the glow-lamps and
        Caitlyn caught his reflection in the glass of the cafe across the street. Devaki had seen her in the same
        instant, and took to his heels like a startled wharf-rat.
    </p>
    <p>Caitlyn skidded to a halt at the next junction. The caged flames atop the fluted lampposts bathed the dozens of
        surprised people staring at her with a warm, amber light. Her pale blue eyes darted from person to person,
        seeking Devaki's distinctive silhouette.

        A young man crossed the street toward her, his cheeks ruddy with a night's enjoyment. He waved at her.

        "You looking for a man on the run?" he asked. "Fella with a big hat?"

        "Yes", said Caitlyn. "You saw him? Where did he go?"

        The young man pointed left and said, "Down that way at a good clip."
    </p>
    <p> She followed his gaze and saw cheering theater-goers spilling from the Drawsmith Arcade, a vaulted structure of
        colored glass and ironwork columns. They mingled with stall-holders selling refreshments and promenade-girls
        looking for a wealthy mark. Mohan finally caught up to her, sweating and breathing hard. He bent at the waist
        and propped himself up with his palms on his knees. His blue uniform coat was askew and his hat tipped back over
        his head.

        "Figures he'd try to lose himself in the crowd", he said between gulps of air.
    </p>
    <p>Caitlyn took a moment to study their public-spirited helper. His clothes were finely-tailored and must once have
        cost him a pretty penny, but the cuffs were frayed and the elbows worn. Her eyes narrowed as she took in last
        season's colors and a collar that hadn't been in style for a year.

        Wealthy, but down on his luck.

        Mohan turned toward the busy street and said, "Come on, Caitlyn! Let's go or we'll lose him."
    </p>
    <p>Caitlyn dropped to one knee to look at the street from a different perspective. The cobbles were slick from the
        evening rain and were well trodden. From this angle, she saw the scuffs of heel marks on stone that only a
        running man would leave. But they weren't heading left, they were heading right.

        "How much did Devaki give you to tell us that?" said Caitlyn to the unfashionably dressed young man. "If it was
        less than a gold hex, you were swindled."

        The young man put his hands up and said, "It was five, actually", before turning tail and running toward the
        crowds with a laugh.
    </p>
    <p>"What the... ?" said Mohan, as Caitlyn sprinted in the opposite direction. She'd lost valuable seconds, but knew
        exactly where Devaki was going now. She soon left Mohan behind, her sometime partner a little too fond of the
        sugared pastries the District-Inspector's wife made for her husband's officers.

        Caitlyn ran a winding path through the city, along seldom-traveled alleyways and crooked paths between the
        gables of tall, brick-fronted warehouses. She cut across busy streets, drawing cries of annoyance from those she
        barged out of her way. The closer she came to the great canyon bisecting Piltover, the narrower the streets
        became, but she was betting she knew the shortcuts of Piltover better than Devaki. After a dozen twists and
        turns, she emerged onto a crooked street of undulating cobbles that followed the jagged line of the cliff. Known
        locally as Drop Street thanks to the wheezing hexdraulic conveyor at the end that ran late into the night, it
        was deep in shadow.
    </p>
    <p>The iron-framed cabin hadn't yet opened, the lozenge-patterned grille still in the closed position. A group of
        fifteen Zaunites, a great many of whom were intoxicated, gathered around the ticket booth. None of them were the
        man Caitlyn was looking for. She turned and dropped to a crouch, resting the barrel of her rifle on a packing
        crate bearing the brand of Clan Medarda. Stolen property, no doubt, but she didn't have time to check it.
    </p>
    <p>Caitlyn thumbed the rifle's primer switch to the upright position. A gentle hum built within the breech as she
        worked the action to ready a shot. She pulled the butt of the rifle hard against her shoulder and slowed her
        breathing. Her cheek pressed into the walnut stock and she closed one eye as she took aim through the
        crystalline lenses.

        She didn't have long to wait.
    </p>
    <p>Devaki swung around the corner, his long coat billowing out behind him and his hat a tall silhouette. He
        appeared to be in no hurry, but then, he believed he had shed his pursuers. He held a heavy brass-cornered case
        in his metal-clawed hand; a crude thing Vi Vi said he'd had done in one of Zaun's ask-no-questions augmentation
        parlors when he was a foolish youth.
    </p>
    <p>Caitlyn focused her aim aim on the pneumatic monstrosity and squeezed the trigger. A searing flash of orange-red
        exploded from the weapon's muzzle and Devaki's hand vanished in a pinpoint blast. He cried out and fell back,
        his hat toppling from his head as the case fell to the ground. Devaki looked up, his eyes widening in pain and
        surprise as he saw Caitlyn. He turned to run, but Caitlyn had been waiting for that. She toggled a thumb-switch
        on the breech and pulled the trigger again.
    </p>
    <p>This time the beam struck Devaki in the back and exploded in a web web of crackling energy. Devaki's back arched
        and he fell, twitching, to the ground. Caitlyn powered down her rifle and slung it over her shoulder as she
        walked toward the fallen Devaki. The effects of the electro-net were dimming, but he wouldn't be getting up
        anytime soon. Caitlyn bent to retrieve the case he'd dropped and shook her head with a tut-tut sound.

        "H-h-h... how?" said Devaki, through the spasms wracking his body.

        "How did I know where you were headed?" asked Caitlyn.
    </p>
    <p>
        Devaki nodded, the movement jerky and forced.
        <br>
        "Your previous thefts were meaningless in themselves, but when I looked at them as part of a larger scheme, it
        seemed like you were gathering components to build a version of Vishlaa's Hexylene Caliver", said Caitlyn.
        <br>
        She knelt beside Devaki to place a hand on his rigid body.
    </p>
    <p>
        "And as we all know, that weapon was outlawed as being too dangerous, wasn't it? No one in Piltover would dare
        touch that kind of banned hex, but someone, maybe in Noxus? They'd pay handsomely for that, I imagine. But the
        only place you could get something like that out of the city is through one of Zaun's less reputable smugglers.
        This is the only quick route down into Zaun that's still running at this time of night. Once I saw you weren't
        going to try and hide out in Piltover, all I had to do was get to the conveyor before you and wait. So you and I
        are going to have a long talk, and you're going to tell me who you're working for."
    </p>
    <p>
        Devaki didn't answer, and Caitlyn grinned as she reached over his prone body.
        <br>
        "Nice hat", she said.
    </p>
</div>
<hr>
<img src="https://media.giphy.com/media/ZMm4BE2hU54uQcduDg/giphy.gif" alt="">
<div class="col-md-5">
    <h4>Her Abilities</h4>
    <p>
        <ul>
            <li>Caitlyn has the longest base basic attack range in the game at Range 650 units.</li>
            <li>Headshots actually fires at the target's head; this is most noticeable with large targets like
                Baron Nashor or Enemy Turrets.</li>
            <li>When Caitlyn and Vi are on the same team, they are granted the cosmetic buff On the Case On the Case.
                This
                buff gives them extra gold Gold gold when they score a Damage rating.png takedown together.</li>
            <li>If there is a Jinx Jinx on the enemy team, Caitlyn gets the cosmetic debuff Catch me if you can! Catch
                me if
                you can! This debuff displays a counter of 'criminals apprehended' (kills/assists scored against Jinx).
            </li>
        </ul>
    </p>
    <img src="https://media.giphy.com/media/ZljQ4RLSMDSHN2jGZD/giphy.gif" alt="">
</div>
<br>
{% endblock %}
