{% extends "base.html" %}
{% block content %}

<h2> {{ page_title }} </h2>
<h3> All she has done for the City of Progress</h3>
<hr>
<h3>Bio</h3>
<p>Caitlyn Kiramman is a scion of the Kiramman Clan, one of the ruling houses of Piltover. Eager to see the world for
    herself and disdainful of the traditional elitist lifestyle that her
    parents had raised her in, Caitlyn joined the Enforcers as a young woman to make a name for herself. When Marcus,
    the Sheriff of the Enforcers, and her parents-for very different reasons-started blocking her efforts to further
    investigate an undercity conspiracy, Caitlyn set off on her own to find answers, only to get much more than she
    bargained for.</p>
<p>Born into the wealthy Kiramman family, Caitlyn always felt that her parents, especially her mother her, sheltered
    her, thus hindering her personal growth in their hopes of protecting her and convincing her to follow in her
    footsteps
    to effectively carry on their family name.

    Caitlyn grew to become a very skilled marksman. Once, she joined a competition in Piltover and won the trophy. She
    confronted her closest opponent in the competition, the Piltover Police Department Sheriff Grayson, about
    throwing the competition for her, suspecting that her parents had paid her to do it. Grayson admitted to letting her
    win only because she felt that the girl deserved it, not because of her parents, then asked her what she was
    shooting for
    <img src="https://media1.giphy.com/media/oJx9J4rn0dkAb1qmbw/giphy.gif?cid=ecf05e47xwwjgmmxpty9u2lmqrfcyot3falwvjjkom8y4eq3&rid=giphy.gif&ct=g"
        alt="a gif from act 2 flashback"> <img
        src="https://media2.giphy.com/media/lKCna9YucBDGBL6mXT/giphy.gif?cid=ecf05e47xwwjgmmxpty9u2lmqrfcyot3falwvjjkom8y4eq3&rid=giphy.gif&ct=g">
</p>
<hr>
<p>Caitlyn at first glance looks innocent, sweet and overprotected after being raised in a wealthy family with luxuries.
    However she's actually very mature, determined and stubborn wanting to go on her own way.

    After becoming an Enforcer, Caitlyn developed a great sense of duty and responsibility. When her mother prevents her
    from doing what she feels is most necessary, she despises it, such as when she was upset with her because she used
    her
    power, and influence to keep her minding her tent. Right after Jinx's attack, instead of leaving her position
    Caitlyn
    took it as her responsibility, and continues investigating even though she was no longer an Enforcer.
    <br>
    <img src="https://media.tenor.com/tPVjjs__hJYAAAAC/caitlyn.gif">
</p>
<hr>

{% endblock %}
