{% extends "base.html" %}
{% block content %}

<h2> {{ page_title }} </h2>
<h3> All she has done for the City of Progress</h3>
<hr>
<p>Caitlyn Kiramman is a scion of the Kiramman Clan, one of the ruling houses of Piltover. Eager to see the world for
    herself and disdainful of the traditional elitist lifestyle that her
    parents had raised her in, Caitlyn joined the Enforcers as a young woman to make a name for herself. When Marcus,
    the Sheriff of the Enforcers, and her parents-for very different reasons-started blocking her efforts to further
    investigate an undercity conspiracy, Caitlyn set off on her own to find answers, only to get much more than she
    bargained for.</p>

{% endblock %}
